
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 40px;
}

h2 {
  text-align: center;
  color: #333;
}

#todoInput {
  padding: 10px;
  width: 250px;
  font-size: 16px;
}

#addBtn {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;

}


#todoList {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

#todoList li {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

#todoList button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

#todoList button:hover {
  background-color: darkred;
}

#todoList input[type="checkbox"] {
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
